<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
    <div class="box" id="heading">
        <h1 id="heading">
            <%= list %>
        </h1>
    </div>

    <div class="box">

        <% newItem.forEach((item)=>{ %>
            <div class="item">
                <form action="/delItem" method="post">
                    <input type="hidden" name="itemId" value="<%= item._id %>">
                    <input type="checkbox" class="task" onclick="this.parentNode.submit()">
                    <p class="text">
                        <%= item.listItem %>
                    </p>
                </form>
            </div>
            <% }) %>

                <form action="/" method="post" class="item">
                    <!-- <label for="">Enter your list</label> -->
                    <input type="text" placeholder="Enter " name="listItem">
                    <button type="submit" name="list" value=<%=list %> >+</button>
                </form>

    </div>
</body>

</html>